In [170]:
import pandas as pd

### Panda Series

* Puedo asignarle los indice deseados siguiendo el orden ascendente de las listas, o por defecta se les asignara indices desde 0 ascendiendo.

In [171]:
a = pd.Series(['Navas', 'Mbappe', 'Neymar', 'Messi'],
              index=[1,7,10,30])

In [172]:
a

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

* Puedo entrar por su indice asignado.

In [173]:
a[7]

'Mbappe'

* Puedo hacer slice y se guiara por sus posiciones no por su indice.

In [174]:
a[0:3]

1      Navas
7     Mbappe
10    Neymar
dtype: object

* Tambien puedo entregar a pd.Series un diccionario como argumento, donde la llave sera el indice y la clave el valor.

In [175]:
dict = {
    'jugador' : ['Navas', 'Mbappe', 'Neymar', 'Messi'],
    'altura' : [170.0, 180.0, 170.0, 160.0 ],
    'Goles' : [30,10,10,100]
}

* Un datafranme puede se accedido por indice/filas o por nombre de columna.

In [176]:
b = pd.DataFrame(dict)

In [177]:
b

  jugador  altura  Goles
0   Navas   170.0     30
1  Mbappe   180.0     10
2  Neymar   170.0     10
3   Messi   160.0    100

In [178]:
b.index

RangeIndex(start=0, stop=4, step=1)

In [179]:
b = pd.DataFrame(dict, index=[1,7,10,30])

In [180]:
b

   jugador  altura  Goles
1    Navas   170.0     30
7   Mbappe   180.0     10
10  Neymar   170.0     10
30   Messi   160.0    100

In [181]:
b.columns

Index(['jugador', 'altura', 'Goles'], dtype='object')

In [182]:
b.index

Index([1, 7, 10, 30], dtype='int64')

### Leer CVS y Json

In [183]:
rcsv = pd.read_csv('./bestsellers-with-categories_e591527f-ae45-4fa5-b0d1-d50142128fa6.csv')

In [184]:
rcsv

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

pd.read_csv('./bestsellers-with-categories_e591527f-ae45-4fa5-b0d1-d50142128fa6.csv', sep=',' , header=None)
Lo csv vienen delimitados por , por defecto pero algunos con | y puedo adaptar la lectura a uno de los dos con el atributo sep, header es para cuando no tienen cabecera, asiganara numeros correlativos desde 0 en su reemplazo, y asi poder manejar el dataframe perfectamente. Tambien puedo asignar una lista de nombres para las cabeceras en caso que l csv no la tenga por defecto.

In [185]:
rjson = pd.read_json('./hpcharactersdataraw.json')

In [186]:
rjson

,Name,Link,Descr,Gender,Species/Race,Blood,School,Profession
0,Mrs. Abbott,https://www.hp-lexicon.org/character/abbott-fa...,"Mrs. Abbott was the mother of Hannah Abbott, a...",Female,Witch,Muggle-born,Unknown,Unknown
1,Hannah Abbott,https://www.hp-lexicon.org/character/abbott-fa...,Hannah Abbott is a Hufflepuff student in Harry...,Female,Witch,Half-blood,Hogwarts - Hufflepuff,Landlady of the Leaky Cauldron
2,Abel Treetops,https://www.hp-lexicon.org/character/abel-tree...,Abel Treetops was a wizard from Cincinnati who...,Male,Wizard,Unknown,Unknown,Unknown
3,Euan Abercrombie,https://www.hp-lexicon.org/character/abercromb...,Euan Abercrombie was a small boy with prominen...,Male,Wizard,Unknown,Hogwarts - Gryffindor,Unknown
4,Aberforth Dumbledore,https://www.hp-lexicon.org/character/dumbledor...,"Aberforth Dumbledore was a tall, thin, grumpy-...",Male,Wizard,Half-blood,Hogwarts - Student,Barman
...,...,...,...,...,...,...,...,...
1935,Georgi Zdravko,https://www.hp-lexicon.org/character/georgi-zd...,Georgi Zdravko played Keeper for the Bulgarian...,Male,Wizard,Unknown,Unknown,Quidditch player (Seeker)
1936,Zograf,https://www.hp-lexicon.org/character/zograf/,Zograf played Keeper for the Bulgarian Nationa...,NaN,Wizard,Unknown,Unknown,Quidditch player (Keeper)
1937,Zonko,https://www.hp-lexicon.org/character/zonko/,Founder(?) of Zonko’s Joke Shop. Possibly a re...,NaN,Unknown,Unknown,Unknown,Unknown
1938,Valentina Vázquez,https://www.hp-lexicon.org/character/valentina...,Valentina Vázquez was President of the Argenti...,Female,Witch,Unknown,Unknown,President of the Argentinian Council of Magic
1939,Zygmunt Budge,https://www.hp-lexicon.org/character/zygmunt-b...,Zygmunt Budge is considered to be one of the m...,Male,Wizard,Unknown,Hogwarts - Student,"Potions Master, Potioneer, Inventor, Author"

* En el caso de los Json las claves pasan a ser cabeceras, con typ='Series' cargara la data en una lsita en formato raw {llave, valor}.

In [187]:
pd.read_json('./hpcharactersdataraw.json', typ='series')

0       {'Name': 'Mrs. Abbott', 'Link': 'https://www.h...
1       {'Name': 'Hannah Abbott', 'Link': 'https://www...
2       {'Name': 'Abel Treetops', 'Link': 'https://www...
3       {'Name': 'Euan Abercrombie', 'Link': 'https://...
4       {'Name': 'Aberforth Dumbledore', 'Link': 'http...
                              ...
1935    {'Name': 'Georgi Zdravko', 'Link': 'https://ww...
1936    {'Name': 'Zograf', 'Link': 'https://www.hp-lex...
1937    {'Name': 'Zonko', 'Link': 'https://www.hp-lexi...
1938    {'Name': 'Valentina Vázquez', 'Link': 'https:/...
1939    {'Name': 'Zygmunt Budge', 'Link': 'https://www...
Length: 1940, dtype: object

### Filtros LOC y ILOC

* Puedo usar los slice propios de Numpy para obetener una porsión de los resultads

In [188]:
rcsv[0:4]

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction

* Filtrar por columna, una columna me devuelve un Pandas Series

In [189]:
rcsv['Name']

0                          10-Day Green Smoothie Cleanse
1                                      11/22/63: A Novel
2                12 Rules for Life: An Antidote to Chaos
3                                 1984 (Signet Classics)
4      5,000 Awesome Facts (About Everything!) (Natio...
                             ...
545         Wrecking Ball (Diary of a Wimpy Kid Book 14)
546    You Are a Badass: How to Stop Doubting Your Gr...
547    You Are a Badass: How to Stop Doubting Your Gr...
548    You Are a Badass: How to Stop Doubting Your Gr...
549    You Are a Badass: How to Stop Doubting Your Gr...
Name: Name, Length: 550, dtype: object

* También utilizando doble corchetes puedo filttar por multiples columnas.

In [190]:
rcsv[['Name','Author','Year']]

,Name,Author,Year
0,10-Day Green Smoothie Cleanse,JJ Smith,2016
1,11/22/63: A Novel,Stephen King,2011
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,2018
3,1984 (Signet Classics),George Orwell,2017
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,2019
...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,2019
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,2016
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,2017
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,2018
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,2019

* Al hacer slice con la propiedad loc considera dentro de la consulte el numero limite que le hemos puesto, a diferencia de slice normal que numero final no es considerado y devuelve el final -1.

In [191]:
rcsv.loc[:]

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [192]:
rcsv.loc[0:4]

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

* Se puede mezclar las opciones de consulta.

In [193]:
rcsv.loc[0:4, ['Name', 'Author']]

                                                Name                    Author
0                      10-Day Green Smoothie Cleanse                  JJ Smith
1                                  11/22/63: A Novel              Stephen King
2            12 Rules for Life: An Antidote to Chaos        Jordan B. Peterson
3                             1984 (Signet Classics)             George Orwell
4  5,000 Awesome Facts (About Everything!) (Natio...  National Geographic Kids

In [194]:
rcsv.loc[:, ['Year']]

     Year
0    2016
1    2011
2    2018
3    2017
4    2019
..    ...
545  2019
546  2016
547  2017
548  2018
549  2019

[550 rows x 1 columns]

* Se puede realizar operaciones con los resultados de las consultas.

In [195]:
rcsv.loc[0:5, ['Year']] * -1

   Year
0 -2016
1 -2011
2 -2018
3 -2017
4 -2019
5 -2011

In [196]:
rcsv.loc[: ,['Author']] == 'JJ Smith'

     Author
0      True
1     False
2     False
3     False
4     False
..      ...
545   False
546   False
547   False
548   False
549   False

[550 rows x 1 columns]

* ILOC  permite localizar por indice tanto en filas como en columnas ilo[slice filas, slice columnas] No considera el limite del slice en ambos ejes.

In [197]:
rcsv.iloc[0:5, 0:3]

,Name,Author,User Rating
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7
1,11/22/63: A Novel,Stephen King,4.6
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7
3,1984 (Signet Classics),George Orwell,4.7
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8

In [198]:
rcsv.iloc[1,3]

2052

In [199]:
rcsv.iloc[1,2] * -1

-4.6

In [200]:
rcsv.iloc[:2,2:]

   User Rating  Reviews  Price  Year        Genre
0          4.7    17350      8  2016  Non Fiction
1          4.6     2052     22  2011      Fiction

### Inserta e eliminar datos.

* Head ayuda a limitar los restultados a obtener, igual que el slice no conidera el limite.

In [201]:
rcsv.head(3)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction

* Esta sintaxis no solo elimina el elemnto de la consulta y no definitivamente del dataframe.

In [202]:
rcsv.drop('Genre', axis=1, inplace=False).head(3)

,Name,Author,User Rating,Reviews,Price,Year
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018

In [204]:
rcsv.head(3)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction

* Para eliminar definitivamente un dato.

In [208]:
rcsv.drop('Genre', axis=1, inplace=True).head(3)

AttributeError: 'NoneType' object has no attribute 'head'

In [210]:
rcsv.head(3)

,Name,Author,User Rating,Reviews,Price,Year
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018